<div class="row" id="row">
    <div class="col-md-12">
        <div class="card" id="content">

            <div class="card-body">
                <form autocomplete="off" [formGroup]="colaboradorForm" (ngSubmit)="addWorker()">
                    <div id="header">
                        <h4 class="card-title">Crear Colaborador</h4>
                        <h6 class="card-subtitle">utiliza los campos para guardar al colaborador</h6>
                        <button class="btn" routerLink="/colaboradores" id="boton-cancelar">Cancelar</button>
                        <button class="btn" id="boton" type="submit">Guardar</button>
                    </div>
                    <div class="form-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nombres.</label>
                                    <input type="text" class="form-control" formControlName="nombres">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Grado Academico</label>
                                    <input type="text" class="form-control" formControlName="gradoAcademico">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Fecha de nacimiento</label>
                                    <input type="text" class="form-control" formControlName="nacimiento">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Estado Civil</label>
                                    <input type="email" class="form-control" formControlName="estadoCivil">
                                </div>
                            </div>
                            <!--/span-->
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Dirección</label>
                                    <input type="text" class="form-control" formControlName="direccion">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-danger">
                                <p *ngIf="campoNoValido('nombres')">Los Nombres son obligatorios.</p>
                                <p *ngIf="campoNoValido('gradoAcademico')">El grado academico es obligatorio.</p>
                                <p *ngIf="campoNoValido('nacimiento')">La fecha de nacimiento es obligatoria.</p>
                                <p *ngIf="campoNoValido('estadoCivil')">El estado civil es obligatorio.</p>
                                <p *ngIf="campoNoValido('direccion')">La dirección es obligatoria.</p>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>